/* ================================================================================================================= */
/*                                                                                                                   */
/* ================================================================================================================= */

/* pour des <div class = divAnimation1> */

.divAnimation1 {animation: animation1 3s infinite;}
.divAnimation1:hover {animation-play-state: paused;}

@keyframes animation1 {

	0% {background-image: url(image1.png);}
	33.33% {background-image: url(image2.png);}
	66.67% {background-image: url(image3.png);}
	100% {background-image: url(image4.png);}

}

/* ================================================================================================================= */
/*                                                                                                                   */
/* ================================================================================================================= */